[Unit]
Description=Rclone mount for personal_onedrive
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount personal_onedrive: /home/rodrigo/onedrive_local --vfs-cache-mode writes
ExecStop=/bin/fusermount -u /home/rodrigo/onedrive_local
Restart=always
RestartSec=10
User=rodrigo
Group=rodrigo

[Install]
WantedBy=multi-user.target